<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Timesheet</title>

	<!-- Bootstrap reboot (для сброса стилей) !!!!###Переписать STYLESHEET под STATIC папку###!!!-->
	<link rel="stylesheet" href="/static/styles/bootstrap-reboot.min.css">


	<!-- Bootstrap сетка !!!!###Переписать STYLESHEET под STATIC папку###!!!-->
	<link rel="stylesheet" href="/static/styles/bootstrap-grid.min.css">

	<!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"!-->

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<!-- Стили сайта !!!!###Переписать STYLESHEET под STATIC папку###!!! -->
	<link rel="stylesheet" href="/static/styles/styles.css">

	<link rel="icon" href="/static/data/favicon.svg" type="image/svg+xml">
</head>
<body>

	<nav class="navbar">
		<div class="container">
			<a href="/index.html" class="navbar-brand">Расписание</a>

			<ul class="navbar-menu">
				<li><a href="/index_addDel.html">Работа с событиями</a></li>
				<li><a href="/index_info.html">Информация</a></li>
				{% if request.user.is_authenticated %}
				    <li><a style = "color: blue">{{ user.get_username }} </a>|<a href="/logout">Выйти</a></li>
				{% else %}
				     |<a href="/login">Войти</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

	<form method="post">
		{% csrf_token %}
			<div class="container">
				{{form.as_p}}
				<button type="submit" class="btn btn-primary">Регистрация</button>
			</div>
	</form>
</body>
</html>